* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.nav {
    background-color: rgb(80 77 77);
    color: white;
    height: 54px;
}

.nav h1 {
    float: left;
    padding-left: 122px;
    padding-right: 277px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li {
    display: inline-block;
    margin: 15px 7px;
    margin: 16px 7px;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
}

.layer {
    background-color: #00000096;
    width: 47%;
    height: 120px;
    position: absolute;
    top: 41%;
    right: 0%;
}

.title {
    position: absolute;
    top: 41%;
    right: 9%;
    color: cornsilk;
}

.title h3 {
    color: rgb(183 166 166);
}

.icon {
    width: 38px;
    height: 38px;
    background-color: #312e2e;
    color: white;
    font-size: 24px;
    margin: 20px 104px;
    padding: 6px 5px;
}

.lab-icon {
    width: 38px;
    height: 38px;
    background-color: #3c97ff;
    color: white;
    font-size: 24px;
    margin: 20px 104px;
    padding: 6px 5px;
    text-align: center;
}

.boxs {
    margin: 0 !important;
    padding: 74px 259px;
}

.hsearch {
    color: #3c97ff;
}

.box p,
.box h1 {
    text-align: center;
}

.conten {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: burlywood;
}

.text h1 {
    text-align: center;
}

.text p {
    text-align: center;
}

.contenimge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-1 {
    width: 40%;
    height: 150px;
}

.img-2 {
    width: 20%;
    height: 150px;
}

.img-3 {
    width: 20%;
    height: 150px;
}

.img-4 {
    width: 20%;
    height: 150px;
}

.img-5 {
    width: 20%;
    height: 150px;
}

.img-6 {
    width: 20%;
    height: 150px;
}

.img-7 {
    width: 20%;
    height: 150px;
}

.img-8 {
    width: 40%;
    height: 150px;
}

.lop {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.yop img {
    width: 125px;
    height: 125px;
    margin-top: 40px;
    border-radius: 90px;
}

.yop p {}

.awsomestyle {
    width: 100%;
}

.awsome {
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
    height: 409px;
    background: #7f8180;
    margin: 0;
}

.mobile {
    margin-top: 13%;
    width: 250px;
    height: 285px;
}

.awsome-text {
    margin-top: 14%;
}

.awsome-text h1 {
    color: white;
}

.paragraph {
    display: flex;
    flex-direction: row;
}

.first-paragraph {
    padding-right: 60px;
    color: white;
}

.second-paragraph {
    color: white;
}

.numbers {
    width: 100%;
    height: 223px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 5%;
}

.num-1 {
    margin: 75px;
}

.num-1 h1 {
    font-size: 55px;
    font-family: fantasy;
}

.num-1 p {
    color: #afd5de;
}

.footer {
    background: #313332;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 7% 14%; */
    padding-right: 7%;
    padding-left: 14%;
    padding-top: 5%;
}

.box-1 {
    color: rgb(255, 255, 255);
    width: 30%;
}

.box-1 p {
    padding-right: 20px;
    color: #dfd7d79e;
    width: 80%;
}

.box-2 {
    display: flexs;
}

.box-2 h3 {
    font-size: 14px;
    display: inline-block;
}

.box-2 p {
    display: inline-block;
}

.end {
    background: #28282a;
    width: 100%;
    height: 50px;
}