*
{
    padding: 0;
    margin: 0;
}
.clear
{
    clear: both;
}

.head
{
    background: rgb(233, 230, 230);
    width: 100%;   
    height: 14%;
    position: relative;
}
.head p
{
    display: inline-block;
    margin: 0 8px;
}
 a
{

    display: inline-block;
    text-decoration: none;
}


































.nav
{
    background: white;
    width: 100%;
    position: relative;
}
.list a
{
    text-decoration: none;
    color: #0c0c0c;
}
.logo .icon
{
   
    float: left;
    margin: 1% 5% 1% 15%;
    width: 10%;
   
}
.list
{
   
    float: left;
    position: absolute;
    top: 10%;
    left: 30%;
   
}
.list li
{
    display: inline-block;
    margin: 14px 16px;
   
}
.li_head a
{
    text-decoration: none;
    color: #0c0c0c;

}
.banner
{
    width: 100%;
    position: relative;
}
.banner img
{
    width: 100%;
    height: 100vh;
    
}
.layer
{
    width: 100%;
    eight: 94vh;
    background: #0000000a;
    position: absolute;
    top: 25%;
}

.p_banner 
{
   /* position: absolute;*/
    top: 11%;
    right: 32%;
}
.p_banner  p  
{
    color: white;
}
.p_banner  h1  
{
    color: white;
}

.button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.txt
{
    width: 41%;
    height: 21%;
    margin: 3% 32%;
}

.list_box
{
    width: 100%;
    display: inline-block;
   
   
}
.box1
{
    width: 25%;
    height: 40%;
    line-height: 104%;
    float: left;
    padding-left: 5%;
   
}
.box1 h1
{
    display: inline-block;
   margin-left: 13px;
   color: black;
}
.box_icon
{
    color: rgb(57, 196, 161);
    font-size: 34px;
}
.box1 p
{
    margin: 2px 25px;
    color: rgb(82, 77, 77);
}
.mid
{
    width: 100%;
    background-color: rgb(243 235 235);
    padding: 0 0;
}
.title
{
   padding-top: 2%;
    line-height: 2px;
    
}
.title h1
{
    padding: 2% 35%;
    color: rgb(10, 81, 114);
    display: inline-block;
}
.title p
{
    padding: 1% 28%;
    padding-bottom: 3%;
    color: rgb(59, 101, 121);
    display: inline-block;
}
.title_box
{
    float: left;
    width: 38%;
    display: inline-block;
    margin: 3% 6%;
}
..title_box img
{
    width: 25%;
    height: 20vh;
}
.title_txt
{
    width: 72%;
    height: 10%;
    background-color: #fffbf6;
    padding: 13px 16px;
}
